{% extends "layout.html" %}
{% block title %}
	Search Results
{% endblock %}

{% block body %}
	<table class="table table-stripped">
		<thead>
			<tr>
				<th scope="col">No.</th>
				<th scope="col">Title</th>
				<th scope="col">Author</th>
				<th scope="col">ISBN</th>
			</tr>
		</thead>
		<tbody>
			{% for row in books %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td><form action="{{ url_for('book', id=row.id) }}" method="post"><button type="submit" class="btn btn-link">{{ row["title"] }}</button></form></td>
					<td><form action="{{ url_for('search', search=row.author) }}" method="post"><button type="submit" class="btn btn-link">{{ row["author"] }}</button></form></td>
					<td>{{ row["isbn"] }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
		