{% extends "bootstrap/base.html" %}

{% block title %}
Shopping Cart
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<style>
	body{
  	  background-image: url('static/Pictures/background.jpg');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
  }
  </style>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Pinocchio's Pizza & Subs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            {% if not current_user.is_authenticated %}
			<li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
			{% endif %}
			<li><a href="{{ url_for('cart') }}">Shopping Cart</a></li>
			<li><a href="{{ url_for('pizza') }}">Menu</a></li>
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}">Logout</a></li>
			{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Shopping Cart</h1>
        <p class="lead">This is the shopping card of {{ name.firstname[0]|upper }}{{ name.firstname[1:]}} {{ name.lastname[0]|upper }}{{ name.lastname[1:] }}</p>
      </div>

    </div><!-- /.container -->
	
	<br>
	<div class="orders-cart">
	{% for orders in order %}
	{{ orders.order }}
	{{ orders.total }}
	
	<br>
	{% endfor %}
	<br>
	 Total: {{ order|sum(attribute='total') }}
 	</div>
	 <br>
	 <form class="form-signin" method="POST" action="/emptycart">
	 <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="EmptyCart()" name="empty">Empty Cart</button>
	 </form>
	 
	 <form class="form-signin" method="POST" action="/payout">
		 <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="PayOut()" name="payout">Payout</button>
     </form>
	
	
	<script>
		function EmptyCart(){
			alert("Your shopping cart is empty now");
		}
		function PayOut(){
			alert("You just paid your order")
		}
		
	</script>
{% endblock %}